# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.Trash-0/
chroma_db/
notebooks/Untitled1.ipynb
notebooks/Untitled2.ipynb

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data (uncomment if you want to exclude large data files)
# data/
